.white{
  width: 1024px;
  height: 800px;
  border: 1px solid #ccc;
  left: 0; right: 0;
  position: absolute;
  pointer-events: none;
}
#aabbcc{
  background-color: #f0ccf0;
  height: 800px;
  top: 120px;
  width: 1024px;
}
